.leadership {
  .banner {
    background-color: #121426;
    .banner_content {
      margin: 0 auto;
      width: 90%;
      max-width: 1200px;
      padding: 5vmin 0 10vmin;
      img {
        width: 100%;
      }
      .text {
        margin-top: -12vmin;
        justify-content: space-between;
        flex-wrap: wrap;
        h1 {
          font-size: 6vmin;
          color: white;
          line-height: 100%;
          margin-bottom: 3vmin;
        }
        p {
          font-size: clamp(15px, 3vmin, 35px);

          width: 100%;
          max-width: 700px;
          color: white;
        }
      }
    }
  }

  .leadership_grid {
    width: 100%;
    .grid_row {
      width: 100%;
      img {
        width: 40%;
      }
      .square {
        width: 20%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .leadership {
    .leadership_grid {
      .grid_row {
        flex-direction: column;
        img {
          width: 100%;
        }
        .mobile_hide {
          display: none;
        }
        .square {
          display: none;
        }
      }
    }
  }
}
