.bod {
  height: 100vh;
  .gridrow {
    flex: 2;
    .grid {
      background-color: #f25075;
      flex: 1;
      padding: 1.5vh;
      justify-content: space-between;
      font-size: 2vh;
      h2 {
        font-size: 5vh;
        line-height: 110%;
      }
      h4 {
        font-weight: normal;
      }

      &:nth-child(2) {
        background-color: #463157;
      }
      &:nth-child(3) {
        background-color: #f4af67;
      }
      &:nth-child(4) {
        background-color: #357f8b;
      }
    }
  }
  .middlerow {
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 15vw;
    a {
      display: flex;
    }
    img {
      height: 22vw;
      max-height: 450px;
      width: auto;
      margin: 0 -2vw;
      transform-origin: bottom;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: scale(1.05);
      }
    }
    h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      bottom: 3%;
      font-size: 5vw;
      text-shadow: 2px 2px 2px rgb(50, 50, 50);
      pointer-events: none;
      z-index: 2;
    }
  }

  .bottomrow {
    .grid {
      background-color: #357f8b;

      &:nth-child(2) {
        background-color: #f25075;
      }
      &:nth-child(3) {
        background-color: #463157;
      }
      &:nth-child(4) {
        background-color: #f4af67;
      }
    }
  }
}

.person_detail {
  z-index: 999;
  position: relative;
  height: 100vh;
  width: 100vw;
  &::before {
    content: attr(data-name);
    font-size: 15vw;
    line-height: 110%;
    padding: 0 5%;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    z-index: 1;
  }
  .backBtn {
    position: absolute;
    top: 4vmin;
    left: 3vmin;
    z-index: 3;
    width: 5vmin;

    img {
      width: 100%;
    }
  }

  .left {
    position: relative;
    flex: 1;

    img {
      width: 70%;
      margin-top: auto;
      z-index: 2;
    }
    .title {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5% 20%;
      backdrop-filter: blur(1px);
      z-index: 2;

      strong {
        font-size: clamp(25px, 5vmin, 50px);
        color: white;
      }
      span {
        color: white;
        font-size: clamp(15px, 4vmin, 30px);
      }
    }
  }

  .description {
    z-index: 2;
    flex: 1;
    padding: 5vmin;
    overflow: auto;
    font-size: clamp(15px, 4vmin, 30px);
    color: white;
  }
}
