/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/app/(main-pages)/about/founder-and-chairman/style.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* number of images*/
.founder {
  height: 100vh;
}
.founder .vertical_carousel {
  overflow: hidden;
  background-color: white;
  gap: 1vh;
  padding: 0 1vh;
}
.founder .vertical_carousel .carousel {
  overflow: hidden;
}
.founder .vertical_carousel .carousel img {
  width: 15vw;
  max-width: 240px;
  min-height: 30vh;
  margin-bottom: 1vh;
  object-fit: cover;
  animation: carousel 15s linear infinite;
  filter: grayscale(1);
  opacity: 0.3;
}
.founder .content {
  background: url("https://media.nurengroup.com/FounderChairman/bg.jpg");
  background-size: cover;
  flex: 1 1;
  justify-content: center;
}
.founder .content .ppl_row {
  width: 100%;
  padding: 0 5%;
  height: 40vh;
}
.founder .content h1 {
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
          text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 9vmin;
  color: #f25075;
}
.founder .content .avatar {
  align-items: flex-start;
  padding: 3vmin;
}
.founder .content .avatar img {
  width: 25vmin;
  min-width: 170px;
  margin-bottom: -5vmin;
  transition: 0.2s;
}
.founder .content .avatar strong {
  font-size: clamp(20px, 3.5vmin, 3.5vmin);
  line-height: 110%;
  z-index: 2;
  color: white;
}
.founder .content .avatar span {
  font-size: clamp(12px, 2vmin, 2vmin);
  font-weight: 300;
  z-index: 2;
  color: white;
}
.founder .content .avatar:hover img {
  transform: translateY(-5%);
}

@keyframes carousel {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-248vh);
  }
}
