.governance {
  background-color: #eeeff5;
  min-height: auto;

  .governance_content {
    max-width: 1000px;
    width: 95%;
    align-self: center;
    background-color: white;
    box-shadow: 0px 3px 3px #e9ebef;
    margin: 10px 0 50px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
    padding-bottom: 20px;

    h1 {
      font-size: 50px;
      padding: 10px 0;
      line-height: 100%;
      background-color: #24315f;
      color: white;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    .linkbox {
      width: 100%;
      padding: 20px 30px;

      h2 {
        font-size: 22px;

        color: #24315f;
        font-weight: normal;
        margin-bottom: 20px;
      }
      .links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 10px;
        a {
          flex: 1;
          color: black;
          transition: 0.2s;
          font-size: 18px;

          img {
            width: 20px;
          }
          span {
            margin-right: 10px;
          }
          &:hover {
            text-decoration: underline;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .cities {
    justify-content: center;
    background-image: url("https://media.nurengroup.com/About/skyscraper.png");
    background-size: auto 200px;
    background-repeat: repeat-x;
    height: 200px;
    margin-top: -30px;
    opacity: 0.3;
  }
}
