$color1: #ee5174;
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.urban_text {
  font-family: "Urbanist", sans-serif;
}

img {
  height: auto;
  width: auto;
}
body {
  margin: 0;
  background: #ece9de !important;
}

.row {
  display: flex;
}

.rowc {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.colc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 90px;
  min-height: 100vh;
}

.scrollsnap {
  scroll-snap-align: start;
}

.transition_overlay {
  height: 100vh;
  width: 100vw;
  background-color: #f25075;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animated_logo {
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  pointer-events: none;

  img {
    width: 20%;
    margin-bottom: -1.5vmin;
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      both;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }
}

.pink_text {
  color: #f25075;
}

.protection {
  justify-content: center;
  height: 100vh;
  strong {
    color: black;
    margin-bottom: 20px;
  }
  span {
    background-color: #ffdddd;
    border: solid 1px #db0d0d;
    color: #db0d0d;
    font-size: 15px;
    width: 90%;
    max-width: 300px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  input {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: white;
    padding: 10px;
    width: 90%;

    max-width: 300px;
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
  }
  button {
    max-width: 300px;
    background-color: #f25075;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 90%;

    border: none;
  }
}

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
