.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px;
  transition: 0.3s;
  .logo {
    width: 150px;
    height: auto;

    img {
      width: 100%;
    }
  }

  .navbtn {
    margin-left: auto;
    cursor: pointer;
    span {
      background: #ee5174;
      height: 5px;
      width: 40px;
      margin: 3px 0;
      transition: 0.3s;
    }
  }
  .active {
    span {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform-origin: top left;
        transform: translateX(-2px) translateY(25px) rotate(-45deg);
      }
      &:nth-child(3) {
        transform-origin: top left;
        transform: translateX(2px) translateY(-25px) rotate(45deg);
      }
    }
  }
}

.header_top {
  background-color: white;
  box-shadow: 0 0px 3px rgb(0, 0, 0, 0.3);
}
.scrollingDown {
  transform: translateY(-105%);
  box-shadow: none;
}

.popup_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  padding: 5%;
  padding-top: 15vh;
  overflow: hide;
  background-color: #282127;
  backdrop-filter: blur(5px);
  justify-content: center;

  nav {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 90%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 10%;
    .nav_item {
      padding-bottom: 20px;
      border-bottom: solid 1px rgba(255, 255, 255, 0.3);
      .mainlink {
        font-size: 35px;
        margin-bottom: 10px;
      }
      .sublinks {
        a {
          font-size: 18px;
          color: #937e88;
        }
      }
    }
    a {
      transition: 0.2s;
    }
    a:hover {
      letter-spacing: 2px;
    }
  }
}

.menu_footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  max-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  .menu_sm {
    justify-content: center;
    gap: 10px;
    padding: 15px;
    img {
      width: 20px;
    }
  }
  hr {
    opacity: 0.3;
  }
  footer {
    padding: 15px;
    font-size: 18px;

    text-align: center;
    color: #937e88;
  }
}
