.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px;
  transition: 0.3s;
  .logo {
    width: 150px;
    height: auto;

    img {
      width: 100%;
    }
  }

  .navbtn {
    margin-left: auto;
    cursor: pointer;
    span {
      background: #ee5174;
      height: 5px;
      width: 40px;
      margin: 3px 0;
      transition: 0.3s;
    }
  }
  .active {
    span {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform-origin: top left;
        transform: translateX(-2px) translateY(25px) rotate(-45deg);
      }
      &:nth-child(3) {
        transform-origin: top left;
        transform: translateX(2px) translateY(-25px) rotate(45deg);
      }
    }
  }
}

.header_top {
  background-color: white;
  box-shadow: 0 0px 3px rgb(0, 0, 0, 0.3);
}
.scrollingDown {
  transform: translateY(-105%);
  box-shadow: none;
}

.popup_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  padding: 5%;
  padding-top: 15vh;
  overflow: hide;
  background-color: #282127;
  backdrop-filter: blur(5px);

  nav {
    .nav_item {
      .mainlink {
        font-weight: bold;
        font-size: 8vh;
        align-items: baseline;
        white-space: nowrap;
        transition: 0.3s;
        color: white;

        &::after {
          content: "";
          height: 2px;
          width: 0;
          margin-left: 1vw;
          background: linear-gradient(to right, transparent, white);
          transition: width ease-in-out 1s;
        }
      }

      .sublinks {
        align-self: flex-end;
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.2s ease-in;

        .sublinks_content {
          width: 100%;
          overflow: hidden;
        }

        a {
          font-size: 3vh;
          transition: opacity 0.3s;
          opacity: 0;
          color: white;

          &:hover {
            transform: scale(0.95);
            filter: drop-shadow(0 0 5px white);
          }
        }
      }

      &:hover {
        .mainlink {
          color: white !important;
          opacity: 1 !important;
          &::after {
            width: 100%;
          }
        }
        .sublinks {
          grid-template-rows: 1fr;

          a {
            transition-delay: 0.5s;
            opacity: 1;
          }
        }
      }
    }

    &:hover {
      .nav_item {
        .mainlink {
          opacity: 0.3;
        }
      }
    }
  }
}
