.our_brand {
  background-color: white;
  h1 {
    font-size: clamp(20px, 12vw, 150px);
    color: #fcb640;
    line-height: 100%;
    text-align: center;
    margin-top: 20px;
  }
  p {
    color: #683c3c;
    font-size: clamp(13px, 3vw, 25px);
    text-align: center;
    max-width: 1000px;
    width: 90%;
  }

  .brand_list {
    width: 100%;
    margin-top: 100px;
    .brand_item {
      width: 100%;
      border-bottom: solid 1px #cdcdcd;
      cursor: pointer;
      .content {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        padding: 20px;

        img {
          width: 350px;
        }
        .left {
          .colors {
            margin-bottom: 10px;
            gap: 2px;
            svg {
              width: 30px;
            }
          }
          p {
            font-size: 15px;
            text-align: left;
            color: grey;
          }
        }
      }

      &:hover {
        background: #f8f5f5;
      }
    }
  }

  .superapp {
    width: 100%;
    padding-top: 80px;
    .explore {
      justify-content: center;
      gap: 50px;
      overflow: hidden;

      .explore_banner {
        width: 90%;
        max-width: 360px;
        margin-bottom: -100px;
      }
      .explore_right {
        align-items: stretch;

        h2 {
          text-align: left;
          margin: 0;
          line-height: 100%;
          color: black;
        }
        h3 {
          color: #fcb913;
        }

        .row {
          align-items: center;
          margin-top: 10px;
          .qr {
            width: 170px;
            margin-left: -12px;
            margin-right: 10px;
            img {
              width: 100%;
            }
          }
          .download {
            align-items: flex-start;
            color: black;

            img {
              width: 150px;
              margin-top: 5px;
              transition: 0.2s;
              cursor: pointer;
              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .our_brand {
    .brand_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .brand_item {
        .content {
          flex-direction: column;
          align-items: center;
          img {
            width: 90%;
          }
          .left {
            .colors {
              margin-bottom: 10px;
              gap: 2px;
              svg {
                width: 30px;
              }
            }
            p {
              font-size: 15px;
              text-align: left;
              color: grey;
            }
          }
        }

        &:hover {
          background: #f8f5f5;
        }
      }
    }

    .superapp {
      .explore {
        flex-direction: column;
        .explore_banner {
          order: 2;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .our_brand {
    .brand_list {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      .brand_item {
        .content {
          flex-direction: column;
          align-items: center;
          img {
            width: 90%;
          }
          .left {
            .colors {
              justify-content: center;
              svg {
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}
