.bod {
  padding-top: 90px;
  min-height: 100vh;
  .gridrow {
    flex: 2;
    .grid {
      background-color: #f25075;
      flex: 1;
      padding: 1.5vh;
      justify-content: space-between;
      font-size: 2vh;
      color: white;

      .mobile_avatar {
        width: 90%;
        margin: 0 auto;
        margin-top: auto;
        display: none;
        img {
          width: 100%;
          margin-top: 3vh;
        }
      }

      h2 {
        font-size: clamp(30px, 5vmin, 50px);
        line-height: 110%;
        color: white;
      }
      h4 {
        font-weight: normal;
        color: white;
        font-size: clamp(15px, 3vmin, 35px);
      }

      &:nth-child(2) {
        background-color: #463157;
      }
      &:nth-child(3) {
        background-color: #f4af67;
      }
      &:nth-child(4) {
        background-color: #357f8b;
      }
    }
  }
  .middlerow {
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 15vw;
    a {
      display: flex;
    }
    img {
      height: 40vmin;
      width: auto;
      margin: 0 -5vmin;
      transform-origin: bottom;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: scale(1.05);
      }
    }
    h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      bottom: 3%;
      font-size: 5vw;
      text-shadow: 2px 2px 2px rgb(50, 50, 50);
      pointer-events: none;
      z-index: 2;
      color: white;
    }
  }

  .bottomrow {
    .grid {
      background-color: #357f8b;

      &:nth-child(2) {
        background-color: #f25075;
      }
      &:nth-child(3) {
        background-color: #463157;
      }
      &:nth-child(4) {
        background-color: #f4af67;
      }
    }
  }
}

.bod_detail {
  z-index: 1000;
  position: relative;
  .backBtn {
    position: fixed;
    top: 4vmin;
    left: 3vmin;
    z-index: 3;
    width: 5vmin;
    z-index: 9999;

    img {
      width: 100%;
    }
  }
  .person_detail {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    &::before {
      content: attr(data-name);
      font-size: 15vw;
      line-height: 110%;
      padding: 0 5%;
      color: rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-weight: bold;
      z-index: 1;
      text-transform: uppercase;
    }

    .left {
      position: relative;
      flex: 1;

      img {
        width: 550px;
        margin-top: auto;
        z-index: 2;
      }
      .title {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5% 20%;
        backdrop-filter: blur(1px);
        z-index: 2;

        strong {
          font-size: clamp(25px, 5vmin, 50px);
          color: white;
        }
        span {
          color: white;
          font-size: clamp(15px, 4vmin, 30px);
        }
      }
    }

    .description {
      z-index: 2;
      flex: 1;
      padding: 5vmin;
      font-size: clamp(15px, 4vmin, 20px);
      color: white;
      align-self: flex-end;
    }
  }
}

@media (orientation: portrait) {
  .bod {
    .gridrow {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .grid {
        .mobile_avatar {
          display: flex;
        }

        &:nth-of-type(3) {
          order: 3;
        }
      }
      .hide_mobile {
        display: none;
      }
    }

    .middlerow {
      height: auto;
      img {
        display: none;
      }
      h1 {
        position: static;
        font-size: 12vw;
        padding: 5vw 0;
        line-height: 100%;
        color: #654f5a;
        text-shadow: none;
      }
    }
  }

  .bod_detail {
    .person_detail {
      flex-direction: column;
      height: auto;
      padding-top: 100px;
      &::before {
        top: 5vh;
      }

      .left {
        flex-direction: row;
        justify-content: center;
        align-items: end;
        .title {
          position: static;
          width: auto;
          padding: 0;
        }
        img {
          width: 25vw;
          margin-right: 5vw;
          height: auto;
        }
      }
    }
  }
}
