.prospectus {
  background-color: white;
  .banner {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center bottom;
      min-height: 160px;
    }
  }
  .content {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 75px 20px;
    color: black;

    section {
      margin-bottom: 35px;
    }

    h3 {
      font-family: "Urbanist", sans-serif;
      font-size: 22px;
      color: #282127;
      font-weight: normal;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      opacity: 0.7;
      font-family: "Urbanist", sans-serif;
      text-align: justify;
    }
    ol,
    ul {
      padding-left: 20px;
      li {
        font-size: 18px;
        opacity: 0.7;
        font-family: "Urbanist", sans-serif;
        margin-top: 10px;
        text-align: justify;

        a {
          word-wrap: break-word;
        }
      }
    }
    hr {
      margin: 30px 0 20px;
      border: 1px dashed black;
      opacity: 0.1;
    }
    .download_btn {
      align-self: center;
      background-color: #f25075;
      border: none;
      text-align: center;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 18px;
      color: white;
    }
  }
}
