.prospectus {
  background-color: white;
  .banner {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
    .text {
      position: absolute;
      color: black;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      height: 100%;
      justify-content: flex-end;
      padding: 0 3%;
      h1 {
        font-size: 5.5vw;
        margin: 0;
        line-height: 100%;
        z-index: 2;
        color: #282127;
      }
      h2 {
        margin: 0;
        margin-bottom: 1vw;
        font-size: 2.4vw;
        line-height: 100%;
        z-index: 2;
        color: #282127;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        height: 35vw;
        width: 35vw;
        border-radius: 10vw 0 0 0;
        transform: rotateX(45deg) rotateZ(45deg);
        background: linear-gradient(135deg, transparent 0%, white 20%);
      }
    }
  }
  .content {
    margin: auto;
    max-width: 1200px;
    padding: 75px 20px;
    color: black;

    h3 {
      margin-bottom: 5px;
      font-family: "Urbanist", sans-serif;
      font-size: 20px;
      color: #282127;
      font-weight: normal;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
      font-size: 18px;
      opacity: 0.7;
      font-family: "Urbanist", sans-serif;
    }
    ol {
      padding-left: 20px;
      opacity: 0.7;
      li {
        font-family: "Urbanist", sans-serif;
      }
    }
    hr {
      margin: 30px 0 20px;
      border: 1px dashed black;
      opacity: 0.1;
    }
    .download_btn {
      align-self: center;
      background-color: #f25075;
      border: none;
      text-align: center;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 18px;
      color: white;
    }
  }
}
