.pdf_viewer {
  height: 100vh;
  min-height: 1000px;
  position: relative;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  iframe {
    border: none;
    overflow: hidden;
  }
  .pdf_blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(transparent, #250a1e);
    justify-content: center;

    form {
      width: 90%;
      max-width: 400px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      border: solid 1px #b4b4b4;
      color: black;
      font-size: 18px;

      .error_msg {
        background-color: #ffdddd;
        border: solid 1px #db0d0d;
        color: #db0d0d;
        font-size: 15px;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
      }

      input {
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        background-color: white;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        color: black;
        font-size: 15px;
      }
      button {
        background-color: #f25075;
        border: none;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 3px;
        font-size: 15px;
        color: white;
      }
    }
  }
}
